.result {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 2rem;
}

.message {
    color: green;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
}